<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Event Registration Portal</title>
</head>
<body>
    <h1>All Events</h1>
    <table class="content-table">
        <thead>
          <th>Event ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Event Type</th>
          <th>Event Time</th>
        </thead>
        {% for dictionary in events %}
            <tr>
                <td>{{dictionary['event_id']}}</td>
                <td>{{dictionary['name']}}</td>
                <td>{{dictionary['desription']}}</td>
                <td>{{dictionary['event_type']}}</td>
                <td>{{dictionary['event_time']}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
